.list-container{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 50px -2%;
}

.list-container__item{
  flex-basis: 16%;
  margin-bottom: 70px;
  padding: 0 2%;
  position: relative;
}

.list__movie-image{
  width: 185px;
  height: 278px;
  margin: 0 auto 15px;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.4);
}


.list__movie-no_image_holder{
  display: inline-block;
  background-color: #dbdbdb;
  height: 100%;
  width: 100%;
  position: relative;
}

.list__movie-no_image_holder span{
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list__movie-no_image_holder:before{
  content: "No image available";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 24px;
  border: 1px dotted #b5b5b5;
  padding: 10px;
  color: #b5b5b5;
  text-align: center;
}

.list__movie-title{
  display: block;
  font-size: 16px;
  color: #FFF;
}

.list__movie-vote-average{
  background-color: #F0A70D;
  position: absolute;
  top: -10px;
  border-radius: 10px;
  padding: 2px 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
}
