.App-loading{
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 31, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.App-loading svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: auto;
}
