.movie-backdrop{
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-backdrop:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(34,43,49,1) 60%);
}

.Movie-wrapper{
  padding: 9em 12em 9em 6em;
  position: relative;
}

.movie-content{
  display: flex;
  position: relative;
  align-items: top;
  z-index: 1;
}

.movie-data{
  padding: 0 25px;
}

.movie-poster{
  border-radius: 3px;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}
