.App-filters{
  color: #FFF;
  padding: 10px 25px;
}


.filters-list{
  padding: 0;
  list-style-type: none;
}

.filters-list__item{
  font-size: 14px;
  padding: 6px 0;
}

@media screen and (min-width: 1200px) {
  .filters-list__item{
    display: flex;
  }
}

.filter-label{
  font-size: 11px;
  margin-bottom: 15px;
  display: block;
  width: 30%;
}

.filters-reset{
  float: right;
  margin-top: 5px;
  background: transparent;
  border: 0;
  color: #AFBDC7;
  opacity: 0.5;
  cursor: pointer;
}

.filters-reset:hover{
  color: #FFF;
  opacity: 0.8;
}

.filters-reset svg{
  width: 10px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.filters-reset:hover path{
  fill: #FFF;
  opacity: 0.8;
}

.filters-reset path{
  fill: #AFBDC7;
  opacity: 0.5;
}


.filters-reset-label{
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
