.App-filters{
  color: #FFF;
  padding: 10px 25px;
}


.filters-list{
  padding: 0;
  list-style-type: none;
}

.filters-list__item{
  font-size: 14px;
  padding: 6px 0;
}

@media screen and (min-width: 1200px) {
  .filters-list__item{
    display: flex;
  }
}

.filter-label{
  font-size: 11px;
  margin-bottom: 15px;
  display: block;
  width: 30%;
}
