@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

body {
 margin: 0;
 padding: 0;
}

body, input, textarea, button{
 font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
 font-family: 'Oswald', sans-serif;
}

html {
 box-sizing: border-box;
}

*, *:before, *:after {
 box-sizing: inherit;
}

.App-main{
  display: grid;
  grid-template-columns: 15% auto;
  min-height: 100vh;
}

.App-sidebar-wrapper{
  background-color: #191C1F;
}

.App-content-wrapper{
  padding: 25px 2em;
  background-color: #222B31;
  color: #FFF;
}
